.web3auth-page__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.web3auth-page__button {
  margin: 16px auto 0;
}

.web3auth-page__button-connected {
  margin: 16px 24px 16px auto;
}
